DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/businessos?schema=public"

# Auth Secret
AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

# Google OAuth Credentials
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# Resend
RESEND_API_KEY=
EMAIL_FROM=BusinessOS <noreply@mail.businessos.rauhansheikh.com>
RESEND_VERIFICATION_TEMPLATE_ALIAS=email-verification